@model HomeTrader.Models.Company.CompaniesListViewModel

@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <partial name="_CompaniesMenuButtons" />
</div>

<br />
<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <div class="row">
        <div class="col-6">
            <h2 class="text">Spolki Gpw</h2>
        </div>
    </div>
</div>
<br />
<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <table class="table table-striped border">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.Index)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.ISIN)
            </th>
        </tr>
        @foreach (var item in Model.Companies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Index)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ISIN)
                </td>
            </tr>
        }
    </table>
</div>
