@model HomeTrader.Models.DetailsVM.IndexVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Szczegoly spolki o ID : @Html.DisplayFor(m => m.CompanyId)</h6>
<br />
<div class="row">
    <partial name="_DetailsMenuButtons" model="@Model.CompanyId" />
</div> 
<br />

<div>
    <h6> @Html.DisplayNameFor(c => c.Company.Id) : @Html.DisplayFor(c => c.Company.Id)</h6>
    <h6>@Html.DisplayNameFor(c => c.Company.Name) : @Html.DisplayFor(c => c.Company.Name)</h6>
    <h6>@Html.DisplayNameFor(c => c.Company.ISIN) : @Html.DisplayFor(c => c.Company.ISIN)</h6>
    <h6>@Html.DisplayNameFor(c => c.Company.Ticker) : @Html.DisplayFor(c => c.Company.Ticker)</h6>
    <h6>@Html.DisplayNameFor(c => c.Company.Index) : @Html.DisplayFor(c => c.Company.Index)</h6>          
    <h6>@Html.DisplayNameFor(c => c.Company.CompanyDescription) : @Html.DisplayFor(c => c.Company.CompanyDescription)</h6> 
</div>
>

