@model HomeTrader.Models.CompanyVM.CompaniesListViewModel

@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <partial name="_CompaniesMenuButtons" />
</div>

<br />
<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <div class="row">
        <div class="col-6">
            <h6 class="text">Spółki Gpw</h6>
        </div>
    </div>
</div>
<br />
<div class="border-bottom border-white shadow rounded-lg" style="background-color: #ededed">
    <table class="table table-striped border">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.Index)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CompaniesName.ISIN)
            </th>
        </tr>
        @foreach (var company in Model.Companies)
        {
            <tr>
                <td>
                    <a asp-controller="Details" asp-action="Company" asp-route-id="@company.Id">
                        @Html.DisplayFor(m => company.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(m => company.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(m => company.Index)
                </td>
                <td>
                    @Html.DisplayFor(m => company.ISIN)
                </td>
            </tr>
        }
    </table>
</div>
